@font-face{
    font-family: "Mamelon";
    src: url("/fonts/Mamelon-4HiRegular.woff2") format("woff2");
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@tailwindcss/typography';